:root {
  --bg-color: #181926;
  --fg-color: #CAD3F6;
  --accent-color: #23273A;
}

// BASE ////////////////////////////
body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);

  a {
    color: var(--fg-color);
    text-decoration: none;
  }

  p,
  h1 {
    margin: 0;
  }
}

// END BASE //////////////////////////

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  >a {
    display: block;
    padding: 1rem;

    border: 2px solid var(--accent-color);
    border-radius: 0.2em;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--accent-color);
    }
  }
}
